# VSCode user specific files
.vscode/

# Don't include the models yet - add support for git LFS later
models/

# Python virtual environment
.venv

# Temporary additions to the gitignore list
dockerfile
temp.py